<nav class="navbar navbar-default navbar-static-top">
  <div class="row">
    <div class="col-m-9 col-t-4">
      <a class="navbar-brand" href="{{ path('kezaco_search') }}">Kezaco</a>
    </div>
    <div class="col-m-3 col-m-show">
      <a class="navbar-brand" href="#">toggle</a>
    </div>
    <div class="col-t-8 col-m-hide">
      <div class="pull-right">
        {% if app.user %}
          <a class="navbar-link" href="{{ path('kezaco_home') }}">{{ 'menu.my_resources'|trans({}, 'KezacoCoreBundle') }}</a>
          <a class="navbar-link" href="{{ path('fos_user_profile_show') }}">{{ 'menu.profile'|trans({}, 'KezacoCoreBundle') }}</a>
          <a class="navbar-link" href="{{ path('fos_user_security_logout') }}">{{ 'menu.logout'|trans({}, 'KezacoCoreBundle') }}</a>
        {% else %}
          <a class="navbar-link" href="{{ path('fos_user_registration_register') }}">{{ 'menu.register'|trans({}, 'KezacoCoreBundle') }}</a>
          <a class="navbar-link" href="{{ path('fos_user_security_login') }}">{{ 'menu.login'|trans({}, 'KezacoCoreBundle') }}</a>
        {% endif %}
      </div>
    </div>
</nav>
