<section class="list-item">
  <section class="list-item-content">
    {% if resource is instanceof('Kezaco\\CoreBundle\\Entity\\RemoteResource') %}
      <a href="{{ resource.url }}" target="_blank">{{ resource.title }} ({{resource.source}})</a>
    {% else %}
      <a href="{{ path('resource_show', {'id': resource.id}) }}">{{ resource.title }}</a>
    {% endif %}
    <p class="text-muted">{{ resource.description }}</p>
  </section>
</section>
