{% extends "::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_container %}
<div class="row">
  <div class="col-xs-12">
    <h3>
      {{ 'profile.edit.submit'|trans }}
    </h3>
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </form>
  </div>
</div>
{% endblock %}
