{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_container %}
{% include 'KezacoCoreBundle:Partials:_navbar.html.twig' %}
<div class="row">
  <div class="col-m-12 col-t-6 col-m-push-0 col-t-push-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ 'security.login.submit'|trans }}
        </h3>
      </div>
      <div class="panel-body">
        {% if error %}
            <div class="alert alert-danger">
              {{ error|trans }}
            </div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
              <label for="username">{{ 'security.login.username'|trans }}</label>
              <input type="text" id="username" class="form-input" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
              <label for="password">{{ 'security.login.password'|trans }}</label>
              <input type="password" class="form-input" id="password" name="_password" required="required" />
            </div>
            <div class="checkbox">
              <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {{ 'security.login.remember_me'|trans }}
              </label>
            </div>
            <div class="row">
              <div class="col-s-12 col-t-6">
                <button type="submit" class="btn btn-primary btn-size-s btn-round-s btn-block" id="_submit" name="_submit">
                  {{ 'security.login.submit'|trans }}
                </button>
              </div>
              <div class="col-s-12 col-t-6">
                <a class="btn btn-default btn-size-s btn-round-s btn-block" href="{{path("fos_user_registration_register")}}">Créer un compte</a>
              </div>
            </div>

        </form>
      </div>
    </div
  </div>
</div>
{% endblock %}
