{% extends "::layout.html.twig" %}

{% block title %} Médiathèque {% endblock %}

{% block body_container %}

<div class="row">
  <div class="col-xs-12">
    <h3>Ma médiathèque</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="row">
      {% if medias is empty %}
        <div class="col-xs-12">
          <div class="alert alert-info">
            Vous n'avez pas encore téléversé de fichier.
          </div>
        </div>
      {% else %}
        <table class="table">
          <thead>
            <tr>
              <th>Nom du fichier</th>
              <th>Type</th>
              <th>Taille (kB)</th>
              <th>Ajouté le</th>
            </tr>
          </thead>
          <tbody>
            {% for media in medias %}
              <tr>
                <td>{{media.name}}</td>
                <td>{{media.contentType|upper}}</td>
                <td>{{media.weight}}</td>
                <td>{{media.createdAt|date('d/m/Y')}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    {{form(form)}}
  </div>

</div>

{% endblock %}
