<!DOCTYPE html>
<html>
  <head>
      {% block head %}
        {% block head_meta %}
          <meta charset="utf8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        <title>{% block head_title %}Kezaco{% endblock %}</title>
        {% block head_style %}
          {% stylesheets
            '@bootstrap_css'
            '@KezacoCoreBundle/Resources/public/css/theme.less'
          %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen">
          {% endstylesheets %}
        {% endblock %}
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
      {% endblock %}
  </head>
  <body>
      {% block body %}
      {% block body_navbar %}
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('kezaco_home') }}">
                <img alt="Brand" src="{{ asset('bundles/kezacocore/img/logo.svg') }}" style="max-height: 25px">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                  <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                  <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% else %}
                  <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      {% endblock %}


        {{ block('body_container') }}


        {% block body_script %}
          {% javascripts
            '@jquery'
            '@bootstrap_js'
          %}
            <script src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}
      {% endblock %}
  </body>
</html>
